{% extends "base.html" %}
{% block content %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Openweathermap API app
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" name="city_name" type="text" placeholder="City Name">
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>
                    </form>
                    {% with messages = get_flashed_messages(with_categories=True)%}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% set message_class = 'is-primary'%}
                                {% if category == 'error' %}
                                    {% set message_class = 'is-danger'%}
                                {% endif %}
                                <div class="notification {{message_class}}">
                                  {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ weather.temperature }}° C</span>
                                        <br> {{ weather.description }}
                                    </p>
                                </div>
                            </div>
                            <a href="/delete/{{ weather.city }}"><button class="delete"></button></a>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}